{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
{%if shows is not none %}
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ shows[show].artist_image_link }}" alt="Artist Image" />
            <h4>{{ shows[show].start_time|datetime('full') }}</h4>
            <h5><a href="/artists/{{ shows[show].artist_id }}">{{ shows[show].artist_name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ shows[show].venue_id }}">{{ shows[show].venue_name }}</a></h5>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}